<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="link_00_name" value="base_link" />
  <xacro:property name="link_01_name" value="link_01" />
  <xacro:property name="link_02_name" value="link_02" />
  <xacro:property name="link_03_name" value="link_03" />
  <xacro:property name="link_04_name" value="link_04" />
  <xacro:property name="link_05_name" value="link_05" />

  <xacro:property name="link_clawR_name" value="link_clawR" />
  <xacro:property name="link_clawL_name" value="link_clawL" />

  <xacro:property name="link_00_dim" value="${[0.09,0.09,0.135]}" />
  <xacro:property name="link_01_dim" value="${[0.02,0.029]}" />
  <xacro:property name="link_02_dim" value="${[0.103,0.052,0.025]}" />
  <xacro:property name="link_03_dim" value="${[0.065,0.022,0.055]}" />
  <xacro:property name="link_04_dim" value="${[0.055,0.052,0.025]}" />
  <xacro:property name="link_05_dim" value="${[0.03,0.03,0.005]}" />

</robot>
