<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="mrm_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="base_link__link_01">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['base_link__link_01']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="link_01__link_02">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['link_01__link_02']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="link_02__link_03">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['link_02__link_03']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="link_03__link_04">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['link_03__link_04']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="link_05__link_clawL">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['link_05__link_clawL']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="link_05__link_clawR">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['link_05__link_clawR']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
